extends layout 

block content 
  h1= title 
  p= item.description 
  div
    p= item.price
    p In stock: !{item.numberInStock}
  a(href=`./${item._id}/update`) Update
  form.inline(method="post" action=`./${item._id}/delete`)
    button(type="submit") Delete
  div
    a(href=`/catalog/category/${item.category}`) Go to category
    a(href="/") Home

