extends layout 

block content 
  h1= title
  div
    a(href='/catalog/items/create?') Add new item
    a(href='/') Home
  if (allItems.length > 0)
    ul
      for item in allItems 
        li 
          a(href=item.url) #{item.name}
          span #{item.description}
          span $#{item.price} 
          span In stock: #{item.numberInStock} 
  else
    span There are no items
